html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html,
  body {

    margin: 0;
    padding: 0;
  }

  body{
    height: 5000px;
  }

/*Top panel*/
#topBackgroundContainer{
    position: sticky;
    top: 0;
    background-image: url(photos/Wood.jpeg);
    z-index: 1;
}

#topContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 242, 108);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    filter: drop-shadow(10px 10px 9px rgb(0, 0, 0));
}

/**navigation Buttons**/
#navigationButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mealTypeButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 10px;
}

#logoLink img{
    max-width: 300px;
    padding: 20px;
    filter: drop-shadow(10px 10px 9px rgb(47, 64, 49));
}

#breakfastLink img, #lunchLink img,#dinnerLink img, #dessertLink img{
    max-width: 100px;
    filter: drop-shadow(10px 10px 9px rgb(47, 64, 49));
    margin: 0%;
}

#breakfastLink img:hover, #lunchLink img:hover,#dinnerLink img:hover, #dessertLink img:hover, #logoLink img:hover{
    filter: grayscale(0%);
}

#breakfastContainer, #lunchContainer, #dinnerContainer, #dessertContainer{
    text-align: center;
}

#dessertContainer{
    padding-right: 10px;
}

.iconTitles{
    margin: 0%;
    font-weight:800;
}

/**searchbars**/
#searchbarContainer2{
    display: none;
}

#searchbarAndDropdownContainer{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

#searchbarContainer{
    width: 100%;
    max-width: 1000px;
}

#searchbar{
    font-size: 30px;
    width: 100%;
    max-width: 1000px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(47, 64, 49);
    color: aliceblue;
}

/**dropDown Menu**/
#dropdownButtonContainer{
    display: flex;
    flex-direction: row;
    align-self: end;
}

#dropdownButton img{
    max-width: 70px;
    align-self: flex-end;
    cursor: pointer;
    filter: drop-shadow(10px 10px 9px rgb(47, 64, 49));
}

#dropdownButton img:hover{
    filter: grayscale(0%);
}

#dropdownMenu{
    display: none;
    width: 100%;
    background-color: rgb(47, 64, 49);
    justify-content: center;
}

#block1, #block2, #block3{
    width: 33%;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-top: none;
    border-bottom: none;
}

#block1{
    border-left: none;
}

#block3{
    border-right: none;
}

.dropOp{
    color: aliceblue;
    font-size: 30px;
    display: inline-block;
    padding: 20px;
    margin: 0;
}

/**info Panel**/
#intoPanelContainer{
    background-image: url(photos/Wood.jpeg);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    filter: drop-shadow(10px 10px 9px rgb(0, 0, 0));
    z-index: 2;
}

/**time and title stuff**/
#titleAndTimeContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

#titlecontainer{
    width: 75%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

#title{
    text-align: center;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    color: aliceblue;
    font-size: 100px;
    padding-left: 35%;
    margin-bottom: 0px;
}

#timeContainer{
    display: flex;
    flex-direction: column;
}

#time{
    color: aliceblue;
    font-size: 30px;
    align-self: center;
    margin-bottom: 0px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

#clockImage{
    border-top: 2px solid aliceblue;
    max-width: 150px;
    height: auto;
    margin-bottom: 0px;
    display: inline-block;
    filter: drop-shadow(10px 10px 9px rgb(0, 0, 0));
}

/**text and dropdown**/

#textAndDropdownContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#emptyContainer{
    width: 25%;
}

#textContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    border-top: 5px solid aliceblue;
}

#textTitle{
    text-align: center;
    font-size: 40px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    color: aliceblue;
}

#maintext{
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    filter: drop-shadow(5px 5px 4px rgb(0, 0, 0));
}

#dropdownImageButton{
    width: 70px;
    filter: drop-shadow(10px 10px 9px rgb(0, 0, 0));
}