#intoPanelContainer{
    background-image: url(photos/Wood.jpeg);
    background-size:25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    filter: drop-shadow(10px 10px 9px rgb(0, 0, 0));
    z-index: 2;
}

/**time and title stuff**/
#titleAndTimeContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

#titlecontainer{
    width: 75%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

#title{
    text-align: center;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    color: aliceblue;
    font-size: 80px;
    padding-left: 35%;
    margin-bottom: 0px;
}

#timeContainer{
    display: flex;
    flex-direction: column;
}

#time{
    color: aliceblue;
    font-size: 20px;
    align-self: center;
    margin-bottom: 0px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

#clockImage{
    border-top: 2px solid aliceblue;
    max-width: 130px;
    height: auto;
    margin-bottom: 0px;
    display: inline-block;
    filter: drop-shadow(10px 10px 9px rgb(0, 0, 0));
}

/**text and dropdown**/

#textAndDropdownContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#emptyContainer{
    width: 25%;
}

#textContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    border-top: 5px solid aliceblue;
}

#textTitle{
    text-align: center;
    font-size: 35px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    color: aliceblue;
}

#maintext{
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    filter: drop-shadow(5px 5px 4px rgb(0, 0, 0));
}

#dropdownImageButton{
    width: 50px;
    filter: drop-shadow(10px 10px 9px rgb(0, 0, 0));
    cursor: pointer;
}


@media (max-width:1000px){
    #clockImage{
        width: 100px;
    }

    #titleAndTimeContainer{
        padding: 10px;
    }
}

@media (max-width:500px){
    #clockImage{
        width: 70px;
    }
}
