#topBackgroundContainer{
    position: sticky;
    top: 0;
    background-image: url(photos/Wood.jpeg);
    z-index: 1;
}

#topContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 242, 108);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    filter: drop-shadow(10px 10px 9px rgb(0, 0, 0));
}

/**navigation Buttons**/
#navigationButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mealTypeButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 10px;
}

#logoLink img{
    max-width: 230px;
    padding: 20px;
    filter: drop-shadow(10px 10px 9px rgb(47, 64, 49));
}

#breakfastLink img, #lunchLink img,#dinnerLink img, #dessertLink img{
    max-width: 70px;
    filter: drop-shadow(10px 10px 9px rgb(47, 64, 49));
    margin: 0%;
}

#breakfastLink img:hover, #lunchLink img:hover,#dinnerLink img:hover, #dessertLink img:hover, #logoLink img:hover{
    filter: grayscale(0%);
}

#breakfastContainer, #lunchContainer, #dinnerContainer, #dessertContainer{
    text-align: center;
}

#dessertContainer{
    padding-right: 10px;
}

.iconTitles{
    margin: 0%;
    font-weight:800;
}

/**searchbars**/
#searchbarContainer2{
    display: none;
}

#searchbarAndDropdownContainer{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

#searchbarContainer{
    width: 100%;
    max-width: 1000px;
}

#searchbar{
    font-size: 20px;
    width: 100%;
    max-width: 1000px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(47, 64, 49);
    color: aliceblue;
}

/**dropDown Menu**/
#dropdownButtonContainer{
    display: flex;
    flex-direction: row;
    align-self: end;
}

#dropdownButton img{
    max-width: 50px;
    align-self: flex-end;
    cursor: pointer;
    filter: drop-shadow(10px 10px 9px rgb(47, 64, 49));
}

#dropdownButton img:hover{
    filter: grayscale(0%);
}

#dropdownMenu{
    display: none;
    width: 100%;
    background-color: rgb(47, 64, 49);
    justify-content: center;
}

#block1, #block2, #block3{
    width: 33%;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-top: none;
    border-bottom: none;
}

#block1{
    border-left: none;
}

#block3{
    border-right: none;
}

.dropOp{
    color: aliceblue;
    font-size: 30px;
    display: inline-block;
    padding: 20px;
    margin: 0;
}